.onoffswitch {
    float: left;
    position: relative; width: 64px;
    margin: 14px 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid $plain; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-right: 10px;
    background-color: $complement; color: $plain;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: $dark; color: $plain;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 2px;
    background: $plain;
    position: absolute; top: 0; bottom: 0;
    right: 44px;
    border: 2px solid $plain; border-radius: 16px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
